In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import yfinance as yf
import bt

# read

In [2]:
start_date = '2003-07-29'
end_date   = '2021-09-29'

indice_tickers = ['^KS11', '^GSPC', '^IXIC',  '^N225',  '^HSI',     '^FCHI', '^GDAXI']
etf_tickers    = ['EWY',   'SPY',   'QQQ',    'EWJ',    'EWH',      'EWQ',   'EWG', 'AGG']
indice_names   = ['kospi', 'sp500', 'nasdaq', 'nikkei', 'hangseng', 'cac',   'dax']
etf_names      = ['kospi', 'sp500', 'nasdaq', 'nikkei', 'hangseng', 'cac',   'dax', 'agg']
risk_weight    = [.25, .425, .2, .375, .025, .0375, .025]
glide_weight   = [.72, .70, .68, .66, .638, .616, .594, .572, .55, .524, .498, .472, .446, .42, .402, .384, .366, .348, .31], 

indice = yf.download(indice_tickers, start=start_date, end=end_date)
etf    = yf.download(etf_tickers, start=start_date, end=end_date)

[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  8 of 8 completed

In [3]:
indice['Adj Close']

,^FCHI,^GDAXI,^GSPC,^HSI,^IXIC,^KS11,^N225
Date,,,,,,,
2003-07-28,3164.929932,3417.770020,996.520020,10134.879883,1735.359985,NaN,NaN
2003-07-29,3142.389893,3428.120117,989.280029,10198.599609,1731.369995,722.330017,9834.309570
2003-07-30,3172.510010,3429.030029,987.489990,10121.219727,1720.910034,714.150024,9632.660156
2003-07-31,3210.270020,3487.860107,990.309998,10134.830078,1735.020020,713.520020,9563.209961
2003-08-01,3169.629883,3438.889893,980.150024,10248.599609,1715.619995,727.260010,9611.669922
...,...,...,...,...,...,...,...
2021-09-22,6637.000000,15506.740234,4395.640137,NaN,14896.849609,NaN,29639.400391
2021-09-23,6701.979980,15643.969727,4448.979980,24510.980469,15052.240234,3127.580078,NaN
2021-09-24,6638.459961,15531.750000,4455.479980,24192.160156,15047.700195,3125.239990,30248.810547
2021-09-27,6650.910156,15573.879883,4443.109863,24208.779297,14969.969727,3133.639893,30240.060547
2021-09-28,6506.500000,15248.559570,4352.629883,24500.390625,14546.679688,3097.919922,30183.960938

In [4]:
etf

             Adj Close                                                         \
                   AGG        EWG        EWH        EWJ        EWQ        EWY
Date
2003-07-28         NaN   8.589716   4.700956  24.707079  10.765284  17.662935
2003-07-29         NaN   8.562788   4.724344  24.390316  10.625309  17.903793
2003-07-30         NaN   8.475275   4.712651  23.883503  10.695295  17.767303
2003-07-31         NaN   8.549326   4.765273  24.073563  10.708020  17.422077
2003-08-01         NaN   8.414692   4.741884  23.788479  10.517145  17.767303
...                ...        ...        ...        ...        ...        ...
2021-09-22  115.815758  33.860001  24.340000  72.489998  38.189999  81.989998
2021-09-23  115.247543  34.320000  24.219999  72.910004  38.860001  83.959999
2021-09-24  115.048172  33.970001  23.590000  72.660004  38.410000  82.510002
2021-09-27  114.888672  34.020000  23.760000  72.599998  38.500000  83.000000
2021-09-28  114.410172  33.310001  23.520000  71.029999  37.639999  81.000000

                                         Close             ...        Open  \
                   QQQ         SPY         AGG        EWG  ...         QQQ
Date                                                       ...
2003-07-28   27.658083   69.914566         NaN  12.760000  ...   31.860001
2003-07-29   27.449928   69.592506         NaN  12.720000  ...   31.930000
2003-07-30   27.250452   69.424469         NaN  12.590000  ...   31.709999
2003-07-31   27.580027   69.585480         NaN  12.700000  ...   31.790001
2003-08-01   27.285145   68.969368         NaN  12.500000  ...   31.690001
...                ...         ...         ...        ...  ...         ...
2021-09-22  369.570007  437.859985  116.180000  33.860001  ...  367.089996
2021-09-23  372.980011  443.179993  115.610001  34.320000  ...  370.760010
2021-09-24  373.329987  443.910004  115.410004  33.970001  ...  370.649994
2021-09-27  370.350006  442.640015  115.250000  34.020000  ...  370.200012
2021-09-28  359.869995  433.720001  114.769997  33.310001  ...  365.670013

                           Volume                                       \
                   SPY        AGG      EWG      EWH       EWJ      EWQ
Date
2003-07-28  100.370003        NaN    93700   169900    647950     3700
2003-07-29  100.139999        NaN    99200   141300    481925     1700
2003-07-30   99.599998        NaN    40500   105000    474175   157000
2003-07-31   99.980003        NaN     5100   258500   1049425     5700
2003-08-01   99.190002        NaN   546900   137400    532975     8300
...                ...        ...      ...      ...       ...      ...
2021-09-22  436.049988  7139900.0  4088700  8596600   7810400  1100700
2021-09-23  439.850006  8265000.0  3632200  4558700   5483600  1139700
2021-09-24  441.440002  4461900.0  2829200  5859300   4931900  1049200
2021-09-27  442.809998  5630600.0  2332200  4466700   6289300   623200
2021-09-28  439.690002  7017100.0  5896200  4345900  14174600   837000


                EWY       QQQ        SPY
Date
2003-07-28   185000  56180800   34382800
2003-07-29    60000  80560100   53472100
2003-07-30    62400  56617300   28363300
2003-07-31    90500  85544100   54937200
2003-08-01   385600  73545400   49321000
...             ...       ...        ...
2021-09-22  3505300  46972900  102350100
2021-09-23  3374800  44652000   76396000
2021-09-24  2704900  36056800   62094800
2021-09-27  2711200  43338100   61371100
2021-09-28  4310000  97701600  130436300

[4576 rows x 48 columns]

In [5]:
etf['Adj Close']

,AGG,EWG,EWH,EWJ,EWQ,EWY,QQQ,SPY
Date,,,,,,,,
2003-07-28,NaN,8.589716,4.700956,24.707079,10.765284,17.662935,27.658083,69.914566
2003-07-29,NaN,8.562788,4.724344,24.390316,10.625309,17.903793,27.449928,69.592506
2003-07-30,NaN,8.475275,4.712651,23.883503,10.695295,17.767303,27.250452,69.424469
2003-07-31,NaN,8.549326,4.765273,24.073563,10.708020,17.422077,27.580027,69.585480
2003-08-01,NaN,8.414692,4.741884,23.788479,10.517145,17.767303,27.285145,68.969368
...,...,...,...,...,...,...,...,...
2021-09-22,115.815758,33.860001,24.340000,72.489998,38.189999,81.989998,369.570007,437.859985
2021-09-23,115.247543,34.320000,24.219999,72.910004,38.860001,83.959999,372.980011,443.179993
2021-09-24,115.048172,33.970001,23.590000,72.660004,38.410000,82.510002,373.329987,443.910004
2021-09-27,114.888672,34.020000,23.760000,72.599998,38.500000,83.000000,370.350006,442.640015
2021-09-28,114.410172,33.310001,23.520000,71.029999,37.639999,81.000000,359.869995,433.720001

# indice & etf corr

In [6]:
pd.concat([indice['Adj Close'], etf['Adj Close']], axis=1).corr().iloc[:7, -7:]

             EWG       EWH       EWJ       EWQ       EWY       QQQ       SPY
^FCHI   0.756617  0.647044  0.888781  0.880343  0.657951  0.644941  0.701003
^GDAXI  0.951660  0.973145  0.900323  0.906903  0.887160  0.885311  0.938480
^GSPC   0.865952  0.920883  0.931032  0.896461  0.836425  0.981121  0.998247
^HSI    0.918573  0.907584  0.759410  0.858014  0.892602  0.668527  0.731338
^IXIC   0.819560  0.887665  0.898105  0.856513  0.820044  0.998858  0.991390
^KS11   0.920509  0.913245  0.777692  0.845373  0.977151  0.791617  0.817217
^N225   0.838509  0.829640  0.975932  0.903471  0.755079  0.872063  0.910902

# glide path

In [7]:
glide_path = pd.DataFrame(
    {
        'year': list(range(2003, 2022)), 
        'RA': [.72, .70, .68, .66, .638, .616, .594, .572, .55, .524, .498, .472, .446, .42, .402, .384, .366, .348, .31], 
    }
)
glide_path['year'] = glide_path['year'].astype('str')
glide_path['AGG']  = 1 - glide_path['RA']
glide_path['EWG']  = glide_path['RA'] * .025
glide_path['EWH']  = glide_path['RA'] * .025
glide_path['EWJ']  = glide_path['RA'] * .0375
glide_path['EWQ']  = glide_path['RA'] * .0375
glide_path['EWY']  = glide_path['RA'] * .25
glide_path['QQQ']  = glide_path['RA'] * .2
glide_path['SPY']  = glide_path['RA'] * .425
glide_path['Date'] = glide_path['year'] + '-09-29'
glide_path['Date'] = glide_path.apply(lambda x: etf['Adj Close'].index[etf['Adj Close'].index.get_loc(x['Date'], method='nearest')], axis=1)
glide_path.set_index('Date', inplace=True)
glide_path.drop(['RA', 'year'], axis=1, inplace=True)

glide_path

,AGG,EWG,EWH,EWJ,EWQ,EWY,QQQ,SPY
Date,,,,,,,,
2003-09-29,0.280,0.01800,0.01800,0.027000,0.027000,0.1800,0.1440,0.30600
2004-09-29,0.300,0.01750,0.01750,0.026250,0.026250,0.1750,0.1400,0.29750
2005-09-29,0.320,0.01700,0.01700,0.025500,0.025500,0.1700,0.1360,0.28900
2006-09-29,0.340,0.01650,0.01650,0.024750,0.024750,0.1650,0.1320,0.28050
2007-09-28,0.362,0.01595,0.01595,0.023925,0.023925,0.1595,0.1276,0.27115
2008-09-29,0.384,0.01540,0.01540,0.023100,0.023100,0.1540,0.1232,0.26180
2009-09-29,0.406,0.01485,0.01485,0.022275,0.022275,0.1485,0.1188,0.25245
2010-09-29,0.428,0.01430,0.01430,0.021450,0.021450,0.1430,0.1144,0.24310
2011-09-29,0.450,0.01375,0.01375,0.020625,0.020625,0.1375,0.1100,0.23375
2012-09-28,0.476,0.01310,0.01310,0.019650,0.019650,0.1310,0.1048,0.22270
2013-09-30,0.502,0.01245,0.01245,0.018675,0.018675,0.1245,0.0996,0.21165
2014-09-29,0.528,0.01180,0.01180,0.017700,0.017700,0.1180,0.0944,0.20060
2015-09-29,0.554,0.01115,0.01115,0.016725,0.016725,0.1115,0.0892,0.18955
2016-09-29,0.580,0.01050,0.01050,0.015750,0.015750,0.1050,0.0840,0.17850
2017-09-29,0.598,0.01005,0.01005,0.015075,0.015075,0.1005,0.0804,0.17085
2018-09-28,0.616,0.00960,0.00960,0.014400,0.014400,0.0960,0.0768,0.16320
2019-09-30,0.634,0.00915,0.00915,0.013725,0.013725,0.0915,0.0732,0.15555
2020-09-29,0.652,0.00870,0.00870,0.013050,0.013050,0.0870,0.0696,0.14790
2021-09-28,0.690,0.00775,0.00775,0.011625,0.011625,0.0775,0.0620,0.13175

# backtest

In [8]:
strategy = bt.Strategy(
    'benchmark_portfolio', 
    algos=[
        bt.algos.
        bt.algos.SelectAll(), 
        bt.algos.WeighTarget(glide_path), 
        bt.algos.Rebalance(), 
    ]
)
backtest = bt.Backtest(strategy=strategy, data=etf['Adj Close'].loc['2003-08-29':])
result   = bt.run(backtest)

In [9]:
benchmark = result.prices
benchmark['HV'] = benchmark['benchmark_portfolio'].pct_change().rolling(window=20, center=False).std() * (252 ** 0.5)
benchmark = benchmark[21:]

In [10]:
benchmark

            benchmark_portfolio        HV
2003-09-29           100.000000  0.000000
2003-09-30            99.184940  0.028932
2003-10-01           101.208704  0.079393
2003-10-02           101.712065  0.080834
2003-10-03           102.814085  0.088123
...                         ...       ...
2021-09-22           382.891055  0.050154
2021-09-23           384.009749  0.051461
2021-09-24           382.868448  0.051357
2021-09-27           382.368980  0.046145
2021-09-28           377.826359  0.060528

[4532 rows x 2 columns]